[user]
	name = Victor Nakoryakov
	email = nail.xx@gmail.com

[color]
	diff  = auto
	status= auto
	branch= auto
	interactive = true

[alias]
	st = status
	sw = switch
	co = checkout
	ci = commit
	ff = pull --ff-only

[push]
	default = current
	followTags = true

[core]
	excludesfile = ~/.gitignore

[cola]
	spellcheck = false

[rebase]
	autosquash = true
[hub]
	protocol = ssh
