[user]
	name = Victor Nakoryakov
	email = nail.xx@gmail.com

[color]
	diff  = auto
	status= auto
	branch= auto
	interactive = true

[alias]
	st = status
	sw = switch
	co = checkout
	ci = commit
	ff = pull --ff-only
	swm = !git show-ref --quiet refs/heads/main && git switch main || git switch master

[push]
	default = current
	followTags = true

[core]
	excludesfile = ~/.gitignore

[cola]
	spellcheck = false

[rebase]
	autosquash = true
[hub]
	protocol = ssh
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
