[user]
    name = Victor Nakoryakov
    email = nail.xx@gmail.com

[color]
    diff  = auto
    status= auto
    branch= auto
    interactive = true

[alias]
    ci = commit
    di = diff --color-words
    st = status
    co = checkout
    unstage = 'reset HEAD --'
    cleanup = "!git branch --merged | grep  -v '\\*\\|master' | xargs -n 1 git branch -d" 
[push]
    default = simple
[core]
    excludesfile = ~/.gitignore
[cola]
	spellcheck = false
