
# no speaker bell
xset -b

# * Caps Lock to switch layouts (grp:caps_toggle)
# * Enable extra typographic characters ¥§€ (misc:typo)
# * Use right alt to type the extra typographic chars (lv3:ralt_switch)
setxkbmap -layout us,ru -option "grp:caps_toggle,lv3:ralt_switch,misc:typo"

# key auto-repeat after 400 ms at 40 Hz
xset r rate 400 40

# Ask QT5 apps to replicate HiDPI scale settings
export QT_AUTO_SCREEN_SCALE_FACTOR=1
