snippet fig "Figure environment" b
\begin{figure}
	\centering
	\includegraphics{TODO}
	\caption{$1}
\end{figure}
endsnippet

snippet ` "Monospace text"
\texttt{$1}
endsnippet

snippet _ "Emphasize"
\emph{$1}
endsnippet

snippet - "Itemize" b
\begin{itemize}
	\item $1
	\item $2
\end{itemize}
endsnippet
